strict-ssl=false 
registry=http://registry.npmjs.org 
@zode:registry=http://artifactory-lvs.corpzone.internalzone.com/artifactory/api/npm/cnsr-npm 
proxy=http://webgateway.itm.mcafee.com:9090 
https-proxy=http://webgateway.itm.mcafee.com:9090 
engine-strict=true
